<div class="fluid-container d-flex flex-column ">

	<div *ngIf="locked" class="d-flex flex-column align-items-center justify-content-center">
		<br><br>
		<img class="logo mb-4" src="../assets/wa-logo.png" alt="" height="100">

		<form class="d-flex flex-column unlock">
			<input [(ngModel)]="inputText" [ngModelOptions]="{standalone: true}" class="form-control form-control-lg"
				type="password" placeholder="Passcode">
			<br>
			<button type="submit" (click)="unlock()" style="background-color: #4FCE5D;"
				class="btn mb-2 align-items-center">
				Unlock
			</button>
			<small *ngIf="wrongPassword" class="text-white">*Wrong Password</small>
		</form>
	</div>

	<div class="vhatsapp" *ngIf="!locked">
		<app-va></app-va>
	</div>
</div>